<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755371693208-6jdu5vli08lntkao2v35c0mq3blni5hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755371693208-6jdu5vli08lntkao2v35c0mq3blni5hk</string>
	<key>API_KEY</key>
	<string>AIzaSyD8pGy8C_TLq_W8p82zOKPxC5PYGWvMIQc</string>
	<key>GCM_SENDER_ID</key>
	<string>755371693208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.com.R70430.ClydeLiveMVVM</string>
	<key>PROJECT_ID</key>
	<string>clydelivemvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>clydelivemvvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755371693208:ios:061c8a5175444372ce6ced</string>
</dict>
</plist>